@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");
.slider-title {
  letter-spacing: 4px;
  font-size: 3em;
}
/* body {
  font-family: "Poppins", sans-serif !important;
} */

.fill-icon {
  background-color: #5243c2;
}

.slider-img-style {
  height: calc(100vh - 90px);
  object-fit: cover;
}

/* Gallery section */
.gallery-border {
  border-bottom: 5px dashed rgb(116, 116, 116);
  width: 160px;
  margin: 0 auto;
}

.plan-button {
  background-color: rgba(244, 150, 210, 0.103);
  color: #3f87f5;
}

.hot-plan {
  background-color: #3f87f5;
  border-radius: 26px;
}

.custom-m {
  margin-top: 6em;
}

/* toast  */
.t-custom-border {
  border-left: 8px solid #3f87f5 !important;
  /* border-image: linear-gradient(#3f87f5, #70a4f3) 27 !important; */
  border-image-slice: 2;
}

/* Client feedback section  */
.card img {
  width: 150px;
  width: 100px;
  margin: 0 auto;
  padding: 10px;
}
